<h1 class="mt-3">Selectores anidados</h1>
<hr>
<form [formGroup]="myForm">
    <div class="row mb-2">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select formControlName="region" class="form-control">
                <option value="">>--Seleccione Continente--<</option>
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-2" *ngIf="countriesByRegion.length >0">
        <div class="col">
            <label class="form-label">País:</label>
            <select formControlName="country" class="form-control">
                <option value="">>--Seleccione País--<</option>
                <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{country.name}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-2" *ngIf="bordersByCountry.length >0">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select formControlName="border" class="form-control">
                <option value="">>--Seleccione Frontera--<</option>
                <option *ngFor="let border of bordersByCountry" [value]="border.cca3">{{border.name}}</option>
            </select>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>
<p>
    is form valid: {{myForm.valid}}
</p>